<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>CRUD GESTIONE CORSI </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Lista dei Corsi</h1>

        <a th:href="@{/showCorsoForm}" class="btn btn-primary btn-sm mb-3"> Aggiungi Corso </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                <th>Id</th>
                    <th>Nome del Corso</th>
                    <th>Luogo del Corso</th>
                    <th>Data Inizio e Fine del Corso</th>
                    <th>Ore del Corso</th>
                    <th>Azioni da eseguire</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="corso : ${listCorsi}">
                <td th:text="${corso.id}"></td>
                    <td th:text="${corso.nomeCorso}"></td>
                    <td th:text="${corso.luogoCorso}"></td>
                    <td th:text="${corso.dataInizioFineCorso}"></td>
                    <td th:text="${corso.oreCorso}"></td>
                    <td> <a th:href="@{/showFormForUpdate/{id}(id=${corso.id})}" class="btn btn-primary">Modifica</a>
                        <a th:href="@{/deleteCorso/{id}(id=${corso.id})}" class="btn btn-danger">Elimina</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>